<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- outFilePath: Directory on Servers FileSystem where PDF and Tex and Fo Files are generated -->
   <context-param>
       <param-name>outFilePath</param-name>
       <param-value>/mycore</param-value>
   </context-param>
    <!-- xmlFilePath: Directory on Servers FileSystem where xml-files are stored -->
   <context-param>
       <param-name>xmlFilePath</param-name>
       <param-value>/mycore</param-value>
   </context-param>
    <!-- urlPath: rest-URL-Path for retrieving xml mycore resources - that are not in xml-filepath -->
   <context-param>
       <param-name>urlPath</param-name>
       <param-value>https://peshat.gwiss.uni-hamburg.de/api/v1/objects/</param-value>
   </context-param>
    <!-- DO NOT CHANGE resourcePath: folder inside web-app for resources for java-classes are stored ie xsl transform files -->
   <context-param>
       <param-name>resourcePath</param-name>
       <param-value>main/resources/</param-value>
   </context-param>
    <!-- xslt converter file - according to service -->
     <context-param>
        <param-name>xsltFileNameFop</param-name>
        <param-value>mcrXml2Fo_lemma.xsl</param-value>
    </context-param>
    <context-param>
        <param-name>xsltFileNameTex</param-name>
        <param-value>mcrXml2Tex_lemma_xelatex.xsl</param-value>
    </context-param>
    <!--OTHER OPTION
    <context-param>
        <param-name>xsltFileName</param-name>
        <param-value>mcrXml2Tex_bib_pdflatex.xsl</param-value>
    </context-param>
    -->
    <!-- texCommand: Commandline command for executing a tex engine - such as pdflatex or xelatex -->
    <context-param>
        <param-name>texCommand</param-name>
        <param-value>xelatex</param-value>
    </context-param>
    <!-- OTHER OPTION
    <context-param>
        <param-name>texCommand</param-name>
        <param-value>pdflatex</param-value>
    </context-param>
    -->
    <!-- fopConfig File: in Reources Directory -->
    <context-param>
        <param-name>fopConfigFileName</param-name>
        <param-value>fop.xconf</param-value>
    </context-param>

    <servlet>
        <servlet-name>CreatePDF</servlet-name>
        <servlet-class>main.java.controller.AppControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatePDF</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>
</web-app>
