<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>filepath</param-name>
        <param-value>/mycore</param-value>
    </context-param>
    <context-param>
        <param-name>urlpath</param-name>
        <param-value>https://peshat.gwiss.uni-hamburg.de/api/v1/objects/</param-value>
    </context-param>
    <servlet>
        <servlet-name>CreatePDF</servlet-name>
        <servlet-class>controller.ServletFrontController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatePDF</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>
</web-app>
